build
dataset
bin
.idea
__pycache__
*.pyc
Vocabulary/ORBvoc.txt
lib
lib/*
orb3_stereo_slam.txt
*.so
orb3_stereo_slam.txt
orb3_stereo_slam_BodyFrame.txt
*BodyFrame.txt
LocalMapper_time.txt
LoopClose_time.txt
Track_time.txt
config/yolo_parameters
cmake-build-debug
cmake-build-*